{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
<div class="row featurette container-fluid" style="background-color:Crimson;">
      <div class="col-md-7">
        <h2 class="featurette-heading">The Authors have power to<span class="text-muted">blow one's mind.</span></h2>
        <p class="lead">so love to learn and love to spread knowledge one day the world will change with your one step towards Acknowledgement..</p>
      </div>
      <div class="col-md-5">
        <img src="/static/1.jpg" width="500" height="500" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
      </div>
    </div>


<div class="row featurette container-fluid" style="background-color:CadetBlue;" >
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Write Somthing <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">content here is required on about page.</p>
      </div>
      <div class="col-md-5 order-md-1 container-fluid">
        <img src="/static/2.jpg" width="500" height="500" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">

      </div>
    </div>
<div class="row featurette container-fluid" style="background-color:AntiqueWhite;">
      <div class="col-md-7">
        <h2 class="featurette-heading">never stop learning <span class="text-muted">Never!!!</span></h2>
        <p class="lead">Some of the best books available on Books World</p>
      </div>
      <div class="col-md-5 container-fluid">
        <img src="/static/3.jpg" width="500" height="500" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">

      </div>
    </div>
{% endblock body %}
